/* Adding "!important" can override bootsrap styles when needed */

:root {
    --foreground-color: #ffffff;
    --background-color: #f8f9fa;
    --background-color-dark: #eef0f3;
    --background-color-darker: #e4e7ea;
    --border-color: #dee2e6;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrapper {
    flex: 1;
}

.left-panel {
    border-right: 1px solid var(--border-color);
}
.client-selector {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.client-selector * {
    background-color: var(--foreground-color);
    border: 0px solid var(--border-color);
    border-radius: 0px;
}
.client-selector *:hover {
    background-color: var(--background-color);
}
.client-selector *:focus {
    background-color: var(--background-color-dark);
}
.client-selector .input-group input {
    border-bottom: 1px solid var(--border-color);
}
.client-list {
    max-height: 50vh;
    overflow-y: auto;
}

.content-rows {
    min-height: calc(100vh - ((56px * 2) + 1px)); /* adjusted for navbar and footer */
}



@media (min-width: 768px) {
    .offcanvas-collapse {
        display: block !important;
        position: static !important;
        visibility: visible !important;
        transform: none !important;
        border-right: 1px solid var(--border-color);
    }

    .mobile-toggle {
        display: none;
    }
}