{% extends "base.html" %}

{% block title %}System Admin Menu{% endblock %}

{% block styles %}{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4 fw-bold mb-3">System Administrator Menu</h1>
        <p class="lead text-muted mb-4">Manage Hosting</p>
        <p class="lead text-muted mb-4">Review System Audit Logs</p>
        <p class="lead text-muted mb-4">Manage All Profiles</p>
        <p class="lead text-muted mb-4">Manage Backups</p>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}